
.tg{
    transition: all 0.3s;
}

.tg:hover{
    transform: scale(1.05);
}
.blink{
    animation: blink 2s linear infinite;
    
}
.watersplash{
    background-image: url("./GS/bluecut4.jpeg");
   
}
.text {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    opacity: 0.5;
  
  }
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .container:hover .middle {
    opacity: 1;
  }
  @media only screen and (max-width: 768px) {
    #myVideo::-webkit-media-controls {
      display: none !important;
    }
  
    /* For Android Devices */
    #myVideo::-webkit-media-controls-panel {
      display: none !important;
    }
    #myVideo {
      /* Optionally, you can hide the video container completely on mobile, if needed */
      background-color: #000; /* Example: keep a black background to hide controls */
    }
  }  
